1. Working with String Data
1. Case When, Regex_Replace etc
2. Working with Dates
1. to_date, current_date, current_timestamp
3. Working with NULL values
1. nvl, na.drop, na.fill

In [14]:
from pyspark.sql import SparkSession

spark=(SparkSession.builder.appName("sparkintroduction").getOrCreate()
)

In [15]:
emp_data = [
    ["001","101","John Doe","30","Male","50000","2015-01-01"],
    ["002","101","Jane Smith","25","Female","45000","2016-02-15"],
    ["003","102","Bob Brown","35","Male","55000","2014-05-01"],
    ["004","102","Alice Lee","28","Female","48000","2017-09-30"],
    ["005","103","Jack Chan","40","Male","60000","2013-04-01"],
    ["006","103","Jill Wong","32","Female","52000","2018-07-01"],
    ["007","101","James Johnson","42","Male","70000","2012-03-15"],
    ["008","102","Kate Kim","29","Female","51000","2019-10-01"],
    ["009","103","Tom Tan","33","Male","58000","2016-06-01"],
    ["010","104","Lisa Lee","27","Female","47000","2018-08-01"],
    ["011","104","David Park","38","Male","65000","2015-11-01"],
    ["012","105","Susan Chen","31","Female","54000","2017-02-15"],
    ["013","106","Brian Kim","45","Male","75000","2011-07-01"],
    ["014","107","Emily Lee","26","Female","46000","2019-01-01"],
    ["015","106","Michael Lee","37","Male","63000","2014-09-30"],
    ["016","107","Kelly Zhang","30","Female","49000","2018-04-01"],
    ["017","105","George Wang","34","Male","57000","2016-03-15"],
    ["018","104","Nancy Liu","29"," ","50000","2017-06-01"],
    ["019","103","Steven Chen","36","Male","62000","2015-08-01"],
    ["020","102","Grace Kim","32","Female","53000","2018-11-01"]
]

emp_schema = "employee_id string, department_id string, name string, age string, gender string, salary string, hire_date string"

In [16]:
emp=spark.createDataFrame(data=emp_data, schema=emp_schema)
emp.show()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|
|        018|          104|    Nancy Liu| 29|      | 50000|2017-06-01|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|
+-----------+-------------+-------------+---+------+------+----------+

In [17]:
 # Case When
# select employee_id, name, age, salary, gender,
# case when gender = 'Male' then 'M' when gender = 'Female' then 'F' else null end as new gender, hire_date from

from pyspark.sql.functions import when, col ,expr

emp_gender_fixed =emp.withColumn("new_gender" ,when(col("gender") == 'Male','M')
                                .when(col("gender") =='Female','F')
                                .otherwise(None))
emp_gender_fixed.show()


emp_gender_fixed_1=emp.withColumn("new_gender", expr("case when gender = 'Male' then 'M' when gender = 'Female' then 'F' else null end "))
emp_gender_fixed_1.show()

+-----------+-------------+-------------+---+------+------+----------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|new_gender|
+-----------+-------------+-------------+---+------+------+----------+----------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|         M|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|         F|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|         M|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|         F|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|         M|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|         F|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|         M|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|         F|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|         M|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|         F|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|         M|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|         F|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|         M|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|         F|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|         M|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|         F|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|         M|
|        018|          104|    Nancy Liu| 29|      | 50000|2017-06-01|      NULL|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|         M|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|         F|
+-----------+-------------+-------------+---+------+------+----------+----------+

+-----------+-------------+-------------+---+------+------+----------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|new_gender|
+-----------+-------------+-------------+---+------+------+----------+----------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|         M|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|         F|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|         M|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|         F|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|         M|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|         F|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|         M|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|         F|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|         M|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|         F|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|         M|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|         F|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|         M|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|         F|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|         M|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|         F|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|         M|
|        018|          104|    Nancy Liu| 29|      | 50000|2017-06-01|      NULL|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|         M|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|         F|
+-----------+-------------+-------------+---+------+------+----------+----------+

In [25]:
# Replace in Strings
# select empLoyee_id, name, replace(name, 'J', 'Z') as new_name, age, salary, gender, new_gender, hire_date from emp_gender_fixed

# important function   """""""""".   regexp_replace. """"""""""""""""

from pyspark.sql.functions import regexp_replace

emp_name_fixed = emp_gender_fixed_1.withColumn("new_name",regexp_replace(col("name"),"J","z"))
emp_name_fixed.show()

+-----------+-------------+-------------+---+------+------+----------+----------+-------------+
|employee_id|department_id|         name|age|gender|salary| hire_date|new_gender|     new_name|
+-----------+-------------+-------------+---+------+------+----------+----------+-------------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|         M|     zohn Doe|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|         F|   zane Smith|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|         M|    Bob Brown|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|         F|    Alice Lee|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|         M|    zack Chan|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|         F|    zill Wong|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|         M|zames zohnson|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|         F|     Kate Kim|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|         M|      Tom Tan|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|         F|     Lisa Lee|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|         M|   David Park|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|         F|   Susan Chen|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|         M|    Brian Kim|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|         F|    Emily Lee|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|         M|  Michael Lee|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|         F|  Kelly Zhang|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|         M|  George Wang|
|        018|          104|    Nancy Liu| 29|      | 50000|2017-06-01|      NULL|    Nancy Liu|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|         M|  Steven Chen|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|         F|    Grace Kim|
+-----------+-------------+-------------+---+------+------+----------+----------+-------------+

In [19]:
# Convert Date
# select *, to_ date(hire_date, 'YYY-MM-DD') as hire_date from emp_name fixed

from pyspark.sql.functions import to_date 

emp_date_fix =emp_name_fixed.withColumn("hire_date",to_date(col("hire_date"),"yyyy-mm-dd"))
emp_date_fix.show()

+-----------+-------------+-------------+---+------+------+----------+-------------+
|employee_id|department_id|         name|age|gender|salary| hire_date|     new_name|
+-----------+-------------+-------------+---+------+------+----------+-------------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|     zohn Doe|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-01-15|   zane Smith|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-01-01|    Bob Brown|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-01-30|    Alice Lee|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-01-01|    zack Chan|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-01-01|    zill Wong|
|        007|          101|James Johnson| 42|  Male| 70000|2012-01-15|zames zohnson|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-01-01|     Kate Kim|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-01-01|      Tom Tan|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-01-01|     Lisa Lee|
|        011|          104|   David Park| 38|  Male| 65000|2015-01-01|   David Park|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-01-15|   Susan Chen|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-01-01|    Brian Kim|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|    Emily Lee|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-01-30|  Michael Lee|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-01-01|  Kelly Zhang|
|        017|          105|  George Wang| 34|  Male| 57000|2016-01-15|  George Wang|
|        018|          104|    Nancy Liu| 29|      | 50000|2017-01-01|    Nancy Liu|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-01-01|  Steven Chen|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-01-01|    Grace Kim|
+-----------+-------------+-------------+---+------+------+----------+-------------+

In [26]:
emp_date_fix.printSchema()

root
 |-- employee_id: string (nullable = true)
 |-- department_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- hire_date: date (nullable = true)
 |-- new_name: string (nullable = true)

In [21]:
# Add Date Columns
# Add current_date, current_timestamp, extract year from hire_date

from pyspark.sql.functions import current_date,current_timestamp,year

emp_dated=emp_date_fix.withColumn("data_now",current_date()).withColumn("timestamp_now",current_timestamp())
emp_dated.show(truncate=False)

+-----------+-------------+-------------+---+------+------+----------+-------------+----------+--------------------------+
|employee_id|department_id|name         |age|gender|salary|hire_date |new_name     |data_now  |timestamp_now             |
+-----------+-------------+-------------+---+------+------+----------+-------------+----------+--------------------------+
|001        |101          |John Doe     |30 |Male  |50000 |2015-01-01|zohn Doe     |2026-02-25|2026-02-25 22:34:48.848685|
|002        |101          |Jane Smith   |25 |Female|45000 |2016-01-15|zane Smith   |2026-02-25|2026-02-25 22:34:48.848685|
|003        |102          |Bob Brown    |35 |Male  |55000 |2014-01-01|Bob Brown    |2026-02-25|2026-02-25 22:34:48.848685|
|004        |102          |Alice Lee    |28 |Female|48000 |2017-01-30|Alice Lee    |2026-02-25|2026-02-25 22:34:48.848685|
|005        |103          |Jack Chan    |40 |Male  |60000 |2013-01-01|zack Chan    |2026-02-25|2026-02-25 22:34:48.848685|
|006        |103          |Jill Wong    |32 |Female|52000 |2018-01-01|zill Wong    |2026-02-25|2026-02-25 22:34:48.848685|
|007        |101          |James Johnson|42 |Male  |70000 |2012-01-15|zames zohnson|2026-02-25|2026-02-25 22:34:48.848685|
|008        |102          |Kate Kim     |29 |Female|51000 |2019-01-01|Kate Kim     |2026-02-25|2026-02-25 22:34:48.848685|
|009        |103          |Tom Tan      |33 |Male  |58000 |2016-01-01|Tom Tan      |2026-02-25|2026-02-25 22:34:48.848685|
|010        |104          |Lisa Lee     |27 |Female|47000 |2018-01-01|Lisa Lee     |2026-02-25|2026-02-25 22:34:48.848685|
|011        |104          |David Park   |38 |Male  |65000 |2015-01-01|David Park   |2026-02-25|2026-02-25 22:34:48.848685|
|012        |105          |Susan Chen   |31 |Female|54000 |2017-01-15|Susan Chen   |2026-02-25|2026-02-25 22:34:48.848685|
|013        |106          |Brian Kim    |45 |Male  |75000 |2011-01-01|Brian Kim    |2026-02-25|2026-02-25 22:34:48.848685|
|014        |107          |Emily Lee    |26 |Female|46000 |2019-01-01|Emily Lee    |2026-02-25|2026-02-25 22:34:48.848685|
|015        |106          |Michael Lee  |37 |Male  |63000 |2014-01-30|Michael Lee  |2026-02-25|2026-02-25 22:34:48.848685|
|016        |107          |Kelly Zhang  |30 |Female|49000 |2018-01-01|Kelly Zhang  |2026-02-25|2026-02-25 22:34:48.848685|
|017        |105          |George Wang  |34 |Male  |57000 |2016-01-15|George Wang  |2026-02-25|2026-02-25 22:34:48.848685|
|018        |104          |Nancy Liu    |29 |      |50000 |2017-01-01|Nancy Liu    |2026-02-25|2026-02-25 22:34:48.848685|
|019        |103          |Steven Chen  |36 |Male  |62000 |2015-01-01|Steven Chen  |2026-02-25|2026-02-25 22:34:48.848685|
|020        |102          |Grace Kim    |32 |Female|53000 |2018-01-01|Grace Kim    |2026-02-25|2026-02-25 22:34:48.848685|
+-----------+-------------+-------------+---+------+------+----------+-------------+----------+--------------------------+

In [28]:
# drop null genders record 

emp_1=emp_dated.na.drop()
emp_1.show()

+-----------+-------------+-------------+---+------+------+----------+-------------+----------+--------------------+
|employee_id|department_id|         name|age|gender|salary| hire_date|     new_name|  data_now|       timestamp_now|
+-----------+-------------+-------------+---+------+------+----------+-------------+----------+--------------------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|     zohn Doe|2026-02-25|2026-02-25 22:36:...|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-01-15|   zane Smith|2026-02-25|2026-02-25 22:36:...|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-01-01|    Bob Brown|2026-02-25|2026-02-25 22:36:...|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-01-30|    Alice Lee|2026-02-25|2026-02-25 22:36:...|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-01-01|    zack Chan|2026-02-25|2026-02-25 22:36:...|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-01-01|    zill Wong|2026-02-25|2026-02-25 22:36:...|
|        007|          101|James Johnson| 42|  Male| 70000|2012-01-15|zames zohnson|2026-02-25|2026-02-25 22:36:...|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-01-01|     Kate Kim|2026-02-25|2026-02-25 22:36:...|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-01-01|      Tom Tan|2026-02-25|2026-02-25 22:36:...|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-01-01|     Lisa Lee|2026-02-25|2026-02-25 22:36:...|
|        011|          104|   David Park| 38|  Male| 65000|2015-01-01|   David Park|2026-02-25|2026-02-25 22:36:...|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-01-15|   Susan Chen|2026-02-25|2026-02-25 22:36:...|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-01-01|    Brian Kim|2026-02-25|2026-02-25 22:36:...|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|    Emily Lee|2026-02-25|2026-02-25 22:36:...|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-01-30|  Michael Lee|2026-02-25|2026-02-25 22:36:...|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-01-01|  Kelly Zhang|2026-02-25|2026-02-25 22:36:...|
|        017|          105|  George Wang| 34|  Male| 57000|2016-01-15|  George Wang|2026-02-25|2026-02-25 22:36:...|
|        018|          104|    Nancy Liu| 29|      | 50000|2017-01-01|    Nancy Liu|2026-02-25|2026-02-25 22:36:...|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-01-01|  Steven Chen|2026-02-25|2026-02-25 22:36:...|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-01-01|    Grace Kim|2026-02-25|2026-02-25 22:36:...|
+-----------+-------------+-------------+---+------+------+----------+-------------+----------+--------------------+

In [ ]:
# Fix NULL values for gender
# Add new_gender column if not present, then fill nulls with 'O'

from pyspark.sql.functions import coalesce, lit, when, col

emp_null_df = emp_dated.withColumn(
	"new_gender",
	coalesce(
		when(col("gender") == 'Male', 'M')
		.when(col("gender") == 'Female', 'F')
		.otherwise(None),
		lit("O")
	)
)
emp_null_df.show()

{"ts": "2026-02-25 22:41:25.354", "level": "ERROR", "logger": "DataFrameQueryContextLogger", "msg": "[UNRESOLVED_COLUMN.WITH_SUGGESTION] A column, variable, or function parameter with name `new_gender` cannot be resolved. Did you mean one of the following? [`gender`, `new_name`, `age`, `data_now`, `hire_date`]. SQLSTATE: 42703", "context": {"file": "line 5 in cell [30]", "line": "", "fragment": "col", "errorClass": "UNRESOLVED_COLUMN.WITH_SUGGESTION"}, "exception": {"class": "Py4JJavaError", "msg": "An error occurred while calling o133.withColumn.\n: org.apache.spark.sql.AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column, variable, or function parameter with name `new_gender` cannot be resolved. Did you mean one of the following? [`gender`, `new_name`, `age`, `data_now`, `hire_date`]. SQLSTATE: 42703;\n'Project [employee_id#197, department_id#198, name#199, age#200, gender#201, salary#202, hire_date#304, new_name#278, data_now#330, timestamp_now#331, 'coalesce('new_gender, O) AS new_gender#516]\n+- Project [employee_id#197, department_id#198, name#199, age#200, gender#201, salary#202, hire_date#304, new_name#278, data_now#330, current_timestamp() AS timestamp_now#331]\n   +- Project [employee_id#197, department_id#198, name#199, age#200, gender#201, salary#202, hire_date#304, new_name#278, current_date(Some(Asia/Kolkata)) AS data_now#330]\n      +- Project [employee_id#197, department_id#198, name#199, age#200, gender#201, salary#202, to_date(hire_date#203, Some(yyyy-mm-dd), Some(Asia/Kolkata), true) AS hire_date#304, new_name#278]\n         +- Project [employee_id#197, department_id#198, name#199, age#200, gender#201, salary#202, hire_date#203, regexp_replace(name#199, J, z, 1) AS new_name#278]\n            +- LogicalRDD [employee_id#197, department_id#198, name#199, age#200, gender#201, salary#202, hire_date#203], false\n\n\tat org.apache.spark.sql.errors.QueryCompilationErrors$.unresolvedAttributeError(QueryCompilationErrors.scala:401)\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.org$apache$spark$sql$catalyst$analysis$CheckAnalysis$$failUnresolvedAttribute(CheckAnalysis.scala:169)\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$7(CheckAnalysis.scala:404)\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$7$adapted(CheckAnalysis.scala:402)\n\tat org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:252)\n\tat org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1(TreeNode.scala:251)\n\tat org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1$adapted(TreeNode.scala:251)\n\tat scala.collection.immutable.List.foreach(List.scala:334)\n\tat org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:251)\n\tat org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1(TreeNode.scala:251)\n\tat org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1$adapted(TreeNode.scala:251)\n\tat scala.collection.immutable.Vector.foreach(Vector.scala:2125)\n\tat org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:251)\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$6(CheckAnalysis.scala:402)\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$6$adapted(CheckAnalysis.scala:402)\n\tat scala.collection.immutable.List.foreach(List.scala:334)\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$2(CheckAnalysis.scala:402)\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$2$adapted(CheckAnalysis.scala:284)\n\tat org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:252)\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis0(CheckAnalysis.scala:284)\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis0$(CheckAnalysis.scala:255)\n\tat org.apache.spark.sql.catalyst.analysis.Analyzer.checkAnalysis0(Analyzer.scala:299)\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis(CheckAnalysis.scala:244)\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis$(CheckAnalysis.scala:231)\n\tat org.apache.spark.sql.catalyst.analysis.Analyzer.checkAnalysis(Analyzer.scala:299)\n\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.$anonfun$resolveInFixedPoint$1(HybridAnalyzer.scala:192)\n\tat scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.scala:18)\n\tat org.apache.spark.sql.catalyst.QueryPlanningTracker$.withTracker(QueryPlanningTracker.scala:89)\n\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.resolveInFixedPoint(HybridAnalyzer.scala:192)\n\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.$anonfun$apply$1(HybridAnalyzer.scala:76)\n\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.withTrackedAnalyzerBridgeState(HybridAnalyzer.scala:111)\n\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.apply(HybridAnalyzer.scala:71)\n\tat org.apache.spark.sql.catalyst.analysis.Analyzer.$anonfun$executeAndCheck$1(Analyzer.scala:330)\n\tat org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper$.markInAnalyzer(AnalysisHelper.scala:423)\n\tat org.apache.spark.sql.catalyst.analysis.Analyzer.executeAndCheck(Analyzer.scala:330)\n\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$lazyAnalyzed$2(QueryExecution.scala:110)\n\tat org.apache.spark.sql.catalyst.QueryPlanningTracker.measurePhase(QueryPlanningTracker.scala:148)\n\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$2(QueryExecution.scala:278)\n\tat org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:654)\n\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$1(QueryExecution.scala:278)\n\tat org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:804)\n\tat org.apache.spark.sql.execution.QueryExecution.executePhase(QueryExecution.scala:277)\n\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$lazyAnalyzed$1(QueryExecution.scala:110)\n\tat scala.util.Try$.apply(Try.scala:217)\n\tat org.apache.spark.util.Utils$.doTryWithCallerStacktrace(Utils.scala:1378)\n\tat org.apache.spark.util.Utils$.getTryWithCallerStacktrace(Utils.scala:1439)\n\tat org.apache.spark.util.LazyTry.get(LazyTry.scala:58)\n\tat org.apache.spark.sql.execution.QueryExecution.analyzed(QueryExecution.scala:121)\n\tat org.apache.spark.sql.execution.QueryExecution.assertAnalyzed(QueryExecution.scala:80)\n\tat org.apache.spark.sql.classic.Dataset$.$anonfun$ofRows$1(Dataset.scala:115)\n\tat org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:804)\n\tat org.apache.spark.sql.classic.Dataset$.ofRows(Dataset.scala:113)\n\tat org.apache.spark.sql.classic.Dataset.withPlan(Dataset.scala:2263)\n\tat org.apache.spark.sql.classic.Dataset.withColumns(Dataset.scala:1283)\n\tat org.apache.spark.sql.classic.Dataset.withColumns(Dataset.scala:232)\n\tat org.apache.spark.sql.Dataset.withColumn(Dataset.scala:2187)\n\tat org.apache.spark.sql.classic.Dataset.withColumn(Dataset.scala:1819)\n\tat java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)\n\tat java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:77)\n\tat java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)\n\tat java.base/java.lang.reflect.Method.invoke(Method.java:568)\n\tat py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)\n\tat py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)\n\tat py4j.Gateway.invoke(Gateway.java:282)\n\tat py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)\n\tat py4j.commands.CallCommand.execute(CallCommand.java:79)\n\tat py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:184)\n\tat py4j.ClientServerConnection.run(ClientServerConnection.java:108)\n\tat java.base/java.lang.Thread.run(Thread.java:842)\n\tSuppressed: org.apache.spark.util.Utils$OriginalTryStackTraceException: Full stacktrace of original doTryWithCallerStacktrace caller\n\t\tat org.apache.spark.sql.errors.QueryCompilationErrors$.unresolvedAttributeError(QueryCompilationErrors.scala:401)\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.org$apache$spark$sql$catalyst$analysis$CheckAnalysis$$failUnresolvedAttribute(CheckAnalysis.scala:169)\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$7(CheckAnalysis.scala:404)\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$7$adapted(CheckAnalysis.scala:402)\n\t\tat org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:252)\n\t\tat org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1(TreeNode.scala:251)\n\t\tat org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1$adapted(TreeNode.scala:251)\n\t\tat scala.collection.immutable.List.foreach(List.scala:334)\n\t\tat org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:251)\n\t\tat org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1(TreeNode.scala:251)\n\t\tat org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1$adapted(TreeNode.scala:251)\n\t\tat scala.collection.immutable.Vector.foreach(Vector.scala:2125)\n\t\tat org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:251)\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$6(CheckAnalysis.scala:402)\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$6$adapted(CheckAnalysis.scala:402)\n\t\tat scala.collection.immutable.List.foreach(List.scala:334)\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$2(CheckAnalysis.scala:402)\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$2$adapted(CheckAnalysis.scala:284)\n\t\tat org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:252)\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis0(CheckAnalysis.scala:284)\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis0$(CheckAnalysis.scala:255)\n\t\tat org.apache.spark.sql.catalyst.analysis.Analyzer.checkAnalysis0(Analyzer.scala:299)\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis(CheckAnalysis.scala:244)\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis$(CheckAnalysis.scala:231)\n\t\tat org.apache.spark.sql.catalyst.analysis.Analyzer.checkAnalysis(Analyzer.scala:299)\n\t\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.$anonfun$resolveInFixedPoint$1(HybridAnalyzer.scala:192)\n\t\tat scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.scala:18)\n\t\tat org.apache.spark.sql.catalyst.QueryPlanningTracker$.withTracker(QueryPlanningTracker.scala:89)\n\t\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.resolveInFixedPoint(HybridAnalyzer.scala:192)\n\t\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.$anonfun$apply$1(HybridAnalyzer.scala:76)\n\t\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.withTrackedAnalyzerBridgeState(HybridAnalyzer.scala:111)\n\t\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.apply(HybridAnalyzer.scala:71)\n\t\tat org.apache.spark.sql.catalyst.analysis.Analyzer.$anonfun$executeAndCheck$1(Analyzer.scala:330)\n\t\tat org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper$.markInAnalyzer(AnalysisHelper.scala:423)\n\t\tat org.apache.spark.sql.catalyst.analysis.Analyzer.executeAndCheck(Analyzer.scala:330)\n\t\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$lazyAnalyzed$2(QueryExecution.scala:110)\n\t\tat org.apache.spark.sql.catalyst.QueryPlanningTracker.measurePhase(QueryPlanningTracker.scala:148)\n\t\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$2(QueryExecution.scala:278)\n\t\tat org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:654)\n\t\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$1(QueryExecution.scala:278)\n\t\tat org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:804)\n\t\tat org.apache.spark.sql.execution.QueryExecution.executePhase(QueryExecution.scala:277)\n\t\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$lazyAnalyzed$1(QueryExecution.scala:110)\n\t\tat scala.util.Try$.apply(Try.scala:217)\n\t\tat org.apache.spark.util.Utils$.doTryWithCallerStacktrace(Utils.scala:1378)\n\t\tat org.apache.spark.util.LazyTry.tryT$lzycompute(LazyTry.scala:46)\n\t\tat org.apache.spark.util.LazyTry.tryT(LazyTry.scala:46)\n\t\t... 23 more\n", "stacktrace": [{"class": null, "method": "deco", "file": "/opt/anaconda3/lib/python3.13/site-packages/pyspark/errors/exceptions/captured.py", "line": "282"}, {"class": null, "method": "get_return_value", "file": "/opt/anaconda3/lib/python3.13/site-packages/py4j/protocol.py", "line": "327"}]}}

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column, variable, or function parameter with name `new_gender` cannot be resolved. Did you mean one of the following? [`gender`, `new_name`, `age`, `data_now`, `hire_date`]. SQLSTATE: 42703;
'Project [employee_id#197, department_id#198, name#199, age#200, gender#201, salary#202, hire_date#304, new_name#278, data_now#330, timestamp_now#331, 'coalesce('new_gender, O) AS new_gender#516]
+- Project [employee_id#197, department_id#198, name#199, age#200, gender#201, salary#202, hire_date#304, new_name#278, data_now#330, current_timestamp() AS timestamp_now#331]
   +- Project [employee_id#197, department_id#198, name#199, age#200, gender#201, salary#202, hire_date#304, new_name#278, current_date(Some(Asia/Kolkata)) AS data_now#330]
      +- Project [employee_id#197, department_id#198, name#199, age#200, gender#201, salary#202, to_date(hire_date#203, Some(yyyy-mm-dd), Some(Asia/Kolkata), true) AS hire_date#304, new_name#278]
         +- Project [employee_id#197, department_id#198, name#199, age#200, gender#201, salary#202, hire_date#203, regexp_replace(name#199, J, z, 1) AS new_name#278]
            +- LogicalRDD [employee_id#197, department_id#198, name#199, age#200, gender#201, salary#202, hire_date#203], false

In [31]:
emp_1.show()

+-----------+-------------+-------------+---+------+------+----------+-------------+----------+--------------------+
|employee_id|department_id|         name|age|gender|salary| hire_date|     new_name|  data_now|       timestamp_now|
+-----------+-------------+-------------+---+------+------+----------+-------------+----------+--------------------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|     zohn Doe|2026-02-25|2026-02-25 22:44:...|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-01-15|   zane Smith|2026-02-25|2026-02-25 22:44:...|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-01-01|    Bob Brown|2026-02-25|2026-02-25 22:44:...|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-01-30|    Alice Lee|2026-02-25|2026-02-25 22:44:...|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-01-01|    zack Chan|2026-02-25|2026-02-25 22:44:...|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-01-01|    zill Wong|2026-02-25|2026-02-25 22:44:...|
|        007|          101|James Johnson| 42|  Male| 70000|2012-01-15|zames zohnson|2026-02-25|2026-02-25 22:44:...|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-01-01|     Kate Kim|2026-02-25|2026-02-25 22:44:...|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-01-01|      Tom Tan|2026-02-25|2026-02-25 22:44:...|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-01-01|     Lisa Lee|2026-02-25|2026-02-25 22:44:...|
|        011|          104|   David Park| 38|  Male| 65000|2015-01-01|   David Park|2026-02-25|2026-02-25 22:44:...|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-01-15|   Susan Chen|2026-02-25|2026-02-25 22:44:...|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-01-01|    Brian Kim|2026-02-25|2026-02-25 22:44:...|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|    Emily Lee|2026-02-25|2026-02-25 22:44:...|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-01-30|  Michael Lee|2026-02-25|2026-02-25 22:44:...|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-01-01|  Kelly Zhang|2026-02-25|2026-02-25 22:44:...|
|        017|          105|  George Wang| 34|  Male| 57000|2016-01-15|  George Wang|2026-02-25|2026-02-25 22:44:...|
|        018|          104|    Nancy Liu| 29|      | 50000|2017-01-01|    Nancy Liu|2026-02-25|2026-02-25 22:44:...|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-01-01|  Steven Chen|2026-02-25|2026-02-25 22:44:...|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-01-01|    Grace Kim|2026-02-25|2026-02-25 22:44:...|
+-----------+-------------+-------------+---+------+------+----------+-------------+----------+--------------------+

In [33]:
# droping old coloumns name with new columns names  

emp_final= emp_final.drop("name","gender").withColumnRenamed("new_name","name").withColumnRenamed("new_gender","gender")
emp_final.show()

+-----------+-------------+---+------+----------+----------+--------------------+
|employee_id|department_id|age|salary| hire_date|  data_now|       timestamp_now|
+-----------+-------------+---+------+----------+----------+--------------------+
|        001|          101| 30| 50000|2015-01-01|2026-02-25|2026-02-25 22:49:...|
|        002|          101| 25| 45000|2016-01-15|2026-02-25|2026-02-25 22:49:...|
|        003|          102| 35| 55000|2014-01-01|2026-02-25|2026-02-25 22:49:...|
|        004|          102| 28| 48000|2017-01-30|2026-02-25|2026-02-25 22:49:...|
|        005|          103| 40| 60000|2013-01-01|2026-02-25|2026-02-25 22:49:...|
|        006|          103| 32| 52000|2018-01-01|2026-02-25|2026-02-25 22:49:...|
|        007|          101| 42| 70000|2012-01-15|2026-02-25|2026-02-25 22:49:...|
|        008|          102| 29| 51000|2019-01-01|2026-02-25|2026-02-25 22:49:...|
|        009|          103| 33| 58000|2016-01-01|2026-02-25|2026-02-25 22:49:...|
|        010|          104| 27| 47000|2018-01-01|2026-02-25|2026-02-25 22:49:...|
|        011|          104| 38| 65000|2015-01-01|2026-02-25|2026-02-25 22:49:...|
|        012|          105| 31| 54000|2017-01-15|2026-02-25|2026-02-25 22:49:...|
|        013|          106| 45| 75000|2011-01-01|2026-02-25|2026-02-25 22:49:...|
|        014|          107| 26| 46000|2019-01-01|2026-02-25|2026-02-25 22:49:...|
|        015|          106| 37| 63000|2014-01-30|2026-02-25|2026-02-25 22:49:...|
|        016|          107| 30| 49000|2018-01-01|2026-02-25|2026-02-25 22:49:...|
|        017|          105| 34| 57000|2016-01-15|2026-02-25|2026-02-25 22:49:...|
|        018|          104| 29| 50000|2017-01-01|2026-02-25|2026-02-25 22:49:...|
|        019|          103| 36| 62000|2015-01-01|2026-02-25|2026-02-25 22:49:...|
|        020|          102| 32| 53000|2018-01-01|2026-02-25|2026-02-25 22:49:...|
+-----------+-------------+---+------+----------+----------+--------------------+

In [ ]:
#### sry i messsed up some where