In [1]:
#  installing pyspark frame work 

!pip install pyspark

Requirement already satisfied: pyspark in /usr/lib/spark/python (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /opt/conda/miniconda3/lib/python3.11/site-packages (from pyspark) (0.10.9.7)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [2]:
## import data all files ------------------------------------------------------------------------------------------

In [3]:
# creating spark session 

import pyspark 
from pyspark.sql import SparkSession

spark=(SparkSession.builder.master("local").appName("demo").getOrCreate())

26/02/10 08:07:44 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [4]:
spark

In [5]:
emp = [(1, 'anil'),
       (2, 'sandeep'),
       (3, 'john'),
       (4, 'baby')]

columns = ["id", "name"]

# creating data frame 

df1=spark.createDataFrame(data=emp,schema=columns)
df1.show()
df1.printSchema()

+---+-------+
| id|   name|
+---+-------+
|  1|   anil|
|  2|sandeep|
|  3|   john|
|  4|   baby|
+---+-------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)

In [6]:
# import text file 

text_source_path="gs://class14-files/products.txt"

df2=spark.read.text(text_source_path)
df2.show(truncate=False)

+-------------------------------+
|value                          |
+-------------------------------+
|Product,Category,Price,Quantity|
|Widget,Electronics,10.00,100   |
|Gadget,Electronics,15.00,75    |
|Book,Books,5.00,200            |
|Toy,Toys,8.00,150              |
+-------------------------------+

In [7]:
# IMPORTING CSV 

csv_source_path="gs://class14-files/sales.csv"

df3=spark.read.csv(csv_source_path,header=True, inferSchema=True)
df3.show()
df3.printSchema()

+----------+-------------+-------+-----+
|      Date|         City|Product|Sales|
+----------+-------------+-------+-----+
|2023-01-01|     New York| Widget|  100|
|2023-01-02|     New York| Widget|  150|
|2023-01-01|  Los Angeles| Gadget|  200|
|2023-01-02|  Los Angeles| Gadget|  250|
|2023-01-01|San Francisco| Widget|  120|
|2023-01-02|San Francisco| Widget|  130|
+----------+-------------+-------+-----+

root
 |-- Date: date (nullable = true)
 |-- City: string (nullable = true)
 |-- Product: string (nullable = true)
 |-- Sales: integer (nullable = true)

In [8]:
# importing json file from source 

json_source_path="gs://class14-files/employee_data (1).json"

df4=spark.read.json(json_source_path)
df4.show()
df4.printSchema()

+---+-------+
|age|   name|
+---+-------+
| 28|  Alice|
| 24|    Bob|
| 32|Charlie|
+---+-------+

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [9]:
# import parquet file 
 
    
par_source_path="gs://class14-files/MT_cars.parquet"
df5=spark.read.parquet(par_source_path,header=True, inferSchema=True)
df5.show()
df5.printSchema()

+-------------------+----+---+-----+---+----+-----+-----+---+---+----+----+
|              model| mpg|cyl| disp| hp|drat|   wt| qsec| vs| am|gear|carb|
+-------------------+----+---+-----+---+----+-----+-----+---+---+----+----+
|          Mazda RX4|21.0|  6|160.0|110| 3.9| 2.62|16.46|  0|  1|   4|   4|
|      Mazda RX4 Wag|21.0|  6|160.0|110| 3.9|2.875|17.02|  0|  1|   4|   4|
|         Datsun 710|22.8|  4|108.0| 93|3.85| 2.32|18.61|  1|  1|   4|   1|
|     Hornet 4 Drive|21.4|  6|258.0|110|3.08|3.215|19.44|  1|  0|   3|   1|
|  Hornet Sportabout|18.7|  8|360.0|175|3.15| 3.44|17.02|  0|  0|   3|   2|
|            Valiant|18.1|  6|225.0|105|2.76| 3.46|20.22|  1|  0|   3|   1|
|         Duster 360|14.3|  8|360.0|245|3.21| 3.57|15.84|  0|  0|   3|   4|
|          Merc 240D|24.4|  4|146.7| 62|3.69| 3.19| 20.0|  1|  0|   4|   2|
|           Merc 230|22.8|  4|140.8| 95|3.92| 3.15| 22.9|  1|  0|   4|   2|
|           Merc 280|19.2|  6|167.6|123|3.92| 3.44| 18.3|  1|  0|   4|   4|
|          Merc 280C|17.8|  6|167.6|123|3.92| 3.44| 18.9|  1|  0|   4|   4|
|         Merc 450SE|16.4|  8|275.8|180|3.07| 4.07| 17.4|  0|  0|   3|   3|
|         Merc 450SL|17.3|  8|275.8|180|3.07| 3.73| 17.6|  0|  0|   3|   3|
|        Merc 450SLC|15.2|  8|275.8|180|3.07| 3.78| 18.0|  0|  0|   3|   3|
| Cadillac Fleetwood|10.4|  8|472.0|205|2.93| 5.25|17.98|  0|  0|   3|   4|
|Lincoln Continental|10.4|  8|460.0|215| 3.0|5.424|17.82|  0|  0|   3|   4|
|  Chrysler Imperial|14.7|  8|440.0|230|3.23|5.345|17.42|  0|  0|   3|   4|
|           Fiat 128|32.4|  4| 78.7| 66|4.08|  2.2|19.47|  1|  1|   4|   1|
|        Honda Civic|30.4|  4| 75.7| 52|4.93|1.615|18.52|  1|  1|   4|   2|
|     Toyota Corolla|33.9|  4| 71.1| 65|4.22|1.835| 19.9|  1|  1|   4|   1|
+-------------------+----+---+-----+---+----+-----+-----+---+---+----+----+
only showing top 20 rows

root
 |-- model: string (nullable = true)
 |-- mpg: double (nullable = true)
 |-- cyl: integer (nullable = true)
 |-- disp: double (nullable = true)
 |-- hp: integer (nullable = true)
 |-- drat: double (nullable = true)
 |-- wt: double (nullable = true)
 |-- qsec: double (nullable = true)
 |-- vs: integer (nullable = true)
 |-- am: integer (nullable = true)
 |-- gear: integer (nullable = true)
 |-- carb: integer (nullable = true)

In [10]:
# reading data from bigquery 

table_id="regular-use-486315.silver_region.spotify_silver"

df6= (spark.read.format("bigquery").option("table",table_id).load())
df6.show()
df6.printSchema()

+--------------------+----+--------------------+--------------------+----------------+--------------------+--------------------+--------------------+--------------------+-----------------+------------+------+---+--------+----+-----------+------------+----------------+--------+-------+------------+--------------+
|        playlist_url|year|            track_id|          track_name|track_popularity|               album|           artist_id|         artist_name|       artist_genres|artist_popularity|danceability|energy|key|loudness|mode|speechiness|acousticness|instrumentalness|liveness|  tempo|duration_min|time_signature|
+--------------------+----+--------------------+--------------------+----------------+--------------------+--------------------+--------------------+--------------------+-----------------+------------+------+---+--------+----+-----------+------------+----------------+--------+-------+------------+--------------+
|https://open.spot...|2010|6FSxwdN08PvzimGAp...|     When We Collide|              44|Letters (Deluxe E...|3906URNmNa1VCXEei...|         Matt Cardle|     ['talent show']|               29|       0.443| 0.683|  2|  -5.521|   1|     0.0343|      0.0198|         5.26E-6|   0.313| 81.986|        3.77|             4|
|https://open.spot...|2003|1unSsa1sbyaVy1tei...|Sweet Dreams My L...|              48|          Funky Dory|7LP4hiTAVkw3Rtc1h...|      Rachel Stevens|['bubblegum dance...|               31|       0.852| 0.865|  2|  -3.586|   1|      0.139|      0.0788|         0.00136|  0.0919|130.022|        3.47|             4|
|https://open.spot...|2002|5TWL2K9Q9QuUTW15I...|           Kiss Kiss|              55|          Footprints|7gRmesSjINzb4xXAp...|       Holly Valance|['australian pop'...|               34|       0.705| 0.717|  4|  -4.944|   0|      0.125|     0.00369|           0.461|  0.0701| 97.036|        3.41|             4|
|https://open.spot...|2000|6znv7i4Wif5fLwI6O...|           Back Here|              52|     Sooner Or Later|7y1GT7SdgGiFLWokt...|               BBMAK|        ['boy band']|               35|       0.624| 0.945|  7|  -3.109|   1|     0.0343|      0.0698|         4.57E-6|  0.0867| 104.77|        3.64|             4|
|https://open.spot...|2001|4Mnw05kNd0j1XDHwt...|Do You Really Lik...|              57|Do You Really Lik...|7KMddxPqjqv0fiucw...|DJ Pied Piper & T...|       ['uk garage']|               35|       0.847| 0.877|  2|  -5.424|   1|     0.0493|       0.124|             0.0|   0.148|131.044|        3.62|             4|
|https://open.spot...|2000|487Dyzs7Xbbk4hIWY...| Don't Think I'm Not|              56|        Hey Kandi...|0ThrQemMA2B8xxusT...|               Kandi|['contemporary r&...|               36|       0.859| 0.622| 11|  -8.196|   1|     0.0445|      0.0661|             0.0|  0.0394|134.007|        4.06|             4|
|https://open.spot...|2002|1IMbmQCnl3h4m8NXq...|       Just A Little|              54|    Thinking It Over|6htUPs3clIStnkvg5...|           Liberty X|['europop', 'girl...|               36|       0.796| 0.617|  5|  -6.198|   0|     0.0619|     0.00824|             0.0|  0.0495|103.858|        3.94|             4|
|https://open.spot...|2002|2RLpFEf6d0708O7Bq...|          Days Go By|              52|         Dirty Vegas|2IkHcHKErbWa0TA14...|         Dirty Vegas|                  []|               37|       0.786| 0.853|  9|  -8.274|   0|     0.0688|      0.0499|          0.0872|    0.35| 126.99|         7.2|             4|
|https://open.spot...|2005|0reKGVcWLVvl1FzjZ...|I Like The Way - ...|              56|         Bodyrockers|5GJmQjUNRyNQ2VZ4H...|         Bodyrockers|      ['dance rock']|               38|       0.642| 0.851|  6|  -3.638|   1|     0.0431|      0.0248|          0.0146|   0.084|127.988|        3.33|             4|
|https://open.spot...|2001|1Sm3U3B5XoidYQEZQ...|Heaven Is a Halfp...|              58|  Menace To Sobriety|5X2XAU0eSvRPWUl9h...|                 OPM|        ['rap rock']|               38|       0.743| 0.894|  8|  -6.886|   1|     0.0349|      0.0755|         0.00283|   0.367|   95.9|        4.29|             4|
|https://open.spot...|2007|68Zq7PMcPIQE8ol1x...|      The Way I Live|              60|    Across The Water|15Y1yUEchPPl4w20C...|  Baby Boy Da Prince|                  []|               39|        0.88| 0.438|  0|  -7.562|   1|      0.248|      0.0147|             0.0|  0.0907|  90.02|        5.42|             4|
|https://open.spot...|2011|0IF7bHzCXCZoKNog5...|Wherever You Will Go|              60|Wherever You Will Go|0qk8MxMzgnfFECvDO...|     Charlene Soraia|['neo-singer-song...|               39|       0.597| 0.115|  9|  -9.217|   1|     0.0334|        0.82|         2.15E-4|   0.111|111.202|        3.29|             4|
|https://open.spot...|2006|1JOxCh2Aa08z8cNJQ...|Fill My Little World|              51|Twelve Stops And ...|4AksvCnkZaQoTu1nJ...|         The Feeling|['english indie r...|               39|       0.462| 0.783|  7|  -7.814|   1|     0.0309|      0.0333|             0.0|   0.348|175.964|        4.12|             4|
|https://open.spot...|2003|2T4rXDppGlcy2lLuF...|               Angel|              49|               Angel|5DqmNLPM1kAbSBQk2...|        Amanda Perez|['hip pop', 'r&b'...|               40|       0.638|  0.54|  0|  -6.849|   1|     0.0473|       0.506|             0.0|   0.157|143.772|        3.65|             4|
|https://open.spot...|2007|6DbqCKweKwVkHgRv1...|Pop, Lock & Drop ...|              57|      Notebook Paper|33wbkdcxtduHKY53L...|                Huey|['dirty south rap...|               40|       0.723| 0.644| 11|  -6.863|   0|      0.222|     0.00308|             0.0|   0.352| 144.09|        4.35|             4|
|https://open.spot...|2006|0tYPj0NYa7vjlJaql...|      Chain Hang Low|              59|   Jibbs feat. Jibbs|4USNIVeRwXIAdbVST...|               Jibbs| ['dirty south rap']|               40|       0.792| 0.589|  4|  -6.869|   0|      0.262|      0.0259|         1.28E-4|   0.114|157.147|        3.46|             4|
|https://open.spot...|2010|1HfxPaJggVwFsvOtH...|Live Like We're D...|              53|          Kris Allen|2zwHaEmXxX6DTv4i8...|          Kris Allen|['acoustic pop', ...|               40|       0.589| 0.893|  0|  -2.948|   1|     0.0397|      0.0273|             0.0|   0.343| 92.011|        3.54|             4|
|https://open.spot...|2001|0xikWgPgYN9BEes0i...| Heard It All Before|              61|          Your Woman|0hnmRa5ahunapQbPj...|   Sunshine Anderson|['contemporary r&...|               40|       0.697| 0.925|  3|  -4.209|   0|      0.216|      0.0614|             0.0|   0.095| 96.951|        4.93|             4|
|https://open.spot...|2001|5zn1hpm9N0ylKB7kO...|No More (Baby I'm...|              57|                 3LW|2lFHVcUeJ9Gq6AZiU...|                 3LW|['contemporary r&...|               41|       0.721| 0.723|  2|   -7.08|   0|     0.0631|       0.102|          4.4E-6|  0.0651| 88.933|        4.39|             4|
|https://open.spot...|2007|0U969xYNlAyfzi8P1...|        Wait for You|              61|       Elliott Yamin|4am1I89OWXUzFh4ct...|       Elliott Yamin|            ['idol']|               41|       0.764| 0.487|  0|  -6.734|   1|     0.0281|        0.25|             0.0|   0.184|116.027|        4.36|             4|
+--------------------+----+--------------------+--------------------+----------------+--------------------+--------------------+--------------------+--------------------+-----------------+------------+------+---+--------+----+-----------+------------+----------------+--------+-------+------------+--------------+
only showing top 20 rows

root
 |-- playlist_url: string (nullable = true)
 |-- year: long (nullable = true)
 |-- track_id: string (nullable = true)
 |-- track_name: string (nullable = true)
 |-- track_popularity: long (nullable = true)
 |-- album: string (nullable = true)
 |-- artist_id: string (nullable = true)
 |-- artist_name: string (nullable = true)
 |-- artist_genres: string (nullable = true)
 |-- artist_popularity: long (nullable = true)
 |-- danceability: double (nullable = true)
 |-- energy: double (nullable = true)
 |-- key: long (nullable = true)
 |-- loudness: double (nullable = true)
 |-- mode: long (nullable = true)
 |-- speechiness: double (nullable = true)
 |-- acousticness: double (nullable = true)
 |-- instrumentalness: double (nullable = true)
 |-- liveness: double (nullable = true)
 |-- tempo: double (nullable = true)
 |-- duration_min: double (nullable = true)
 |-- time_signature: long (nullable = true)

In [11]:
# data from mysql local to dataproc or pypark or biquery

In [12]:

# load data ------------------------------------------------------------------------------------------------------------------------------------------------------

In [14]:

# load data back to storage

In [15]:
# csv file to sink

In [23]:
sink_source_path="gs://class14-files/csv1/"
df.write.csv(sink_source_path,header=True)

AnalysisException: [PATH_ALREADY_EXISTS] Path gs://class14-files/csv1 already exists. Set mode as "overwrite" to overwrite the existing path.

In [18]:
df.rdd.getNumPartitions()

2

In [22]:
sink_source_path="gs://class14-files/csv1/"
df.coalesce(1).write.csv(sink_source_path,header=True)

AnalysisException: [PATH_ALREADY_EXISTS] Path gs://class14-files/csv1 already exists. Set mode as "overwrite" to overwrite the existing path.

In [24]:

#  josan file to sink

In [26]:

json_sink_path="gs://class14-files/json/"
df.coalesce(1).write.json(json_sink_path)

In [27]:

#  parq file to sink

In [28]:
parq_sink_path="gs://class14-files/parq/"
df.coalesce(1).write.parquet(parq_sink_path)

In [29]:
# load the data to bigquery

In [31]:
table_id = "regular-use-486315.gold_region.pyspark_example"

(
    df.write.format("bigquery")
    .option("table", table_id)
    .option("temporaryGcsBucket", "class14-files")  # bucket name only
    .mode("overwrite")
    .save()
)

In [32]:
#b load data to sql

In [ ]:
mysql_properties = {
    "driver": "com.mysql.cj.jdbc.Driver",
    "url": "jdbc:mysql://<HOST-IP>:3306/<DB-NAME>",
    "user": "mysql",
    "password": "mypass",
    "table": "pysparkTable"
}

(
    df.write
    .format("jdbc")
    .options(**mysql_properties)
    .mode("overwrite")
    .save()
)

In [33]:
# transformation      ----------------------------------------------------  ------------

In [36]:
from pyspark.sql.types import StructType, StructField, IntegerType, FloatType, StringType

emp_data = [
    (1, "John Doe", "Male", 60000.0, "USA"),
    (2, "Jane Smith", "Female", 55000.0, "Canada"),
    (3, "Alice Johnson", "Female", 65000.0, "UK"),
    (4, "Bob Williams", "Male", 62000.0, "Australia"),
    (5, "Eve Davis", "Female", 70000.0, "India"),
    (5, "Eve Davis", "Female", 70000.0, "India"),
    (6, "Charlie Brown", "Male", 58000.0, "Germany"),
    (7, "Diana Miller", "Female", 60000.0, "France"),
    (8, "Frank Johnson", "Male", 62000.0, "Spain"),
    (9, "Grace Wilson", "Female", 54000.0, "Italy"),
    (10, "Henry Davis", "Male", 68000.0, "Japan"),
    (11, "Isabel Clark", "Female", 59000.0, "Brazil"),
    (12, "Jack Turner", "Male", 63000.0, "Mexico"),
    (13, "Katherine White", "Female", 67000.0, "South Africa"),
    (14, "Louis Harris", "Male", 56000.0, "Russia"),
    (15, "Mia Lee", "Female", 61000.0, "China")
]

# Define schema correctly
emp_schema = StructType([
    StructField("empId", IntegerType(), True),
    StructField("emp_name", StringType(), True),
    StructField("emp_gender", StringType(), True),
    StructField("emp_salary", FloatType(), True),
    StructField("emp_location", StringType(), True)
])

# Create DataFrame
df1 = spark.createDataFrame(emp_data, emp_schema)

# Show DataFrame
df1.show()

+-----+---------------+----------+----------+------------+
|empId|       emp_name|emp_gender|emp_salary|emp_location|
+-----+---------------+----------+----------+------------+
|    1|       John Doe|      Male|   60000.0|         USA|
|    2|     Jane Smith|    Female|   55000.0|      Canada|
|    3|  Alice Johnson|    Female|   65000.0|          UK|
|    4|   Bob Williams|      Male|   62000.0|   Australia|
|    5|      Eve Davis|    Female|   70000.0|       India|
|    5|      Eve Davis|    Female|   70000.0|       India|
|    6|  Charlie Brown|      Male|   58000.0|     Germany|
|    7|   Diana Miller|    Female|   60000.0|      France|
|    8|  Frank Johnson|      Male|   62000.0|       Spain|
|    9|   Grace Wilson|    Female|   54000.0|       Italy|
|   10|    Henry Davis|      Male|   68000.0|       Japan|
|   11|   Isabel Clark|    Female|   59000.0|      Brazil|
|   12|    Jack Turner|      Male|   63000.0|      Mexico|
|   13|Katherine White|    Female|   67000.0|South Africa|
|   14|   Louis Harris|      Male|   56000.0|      Russia|
|   15|        Mia Lee|    Female|   61000.0|       China|
+-----+---------------+----------+----------+------------+

In [37]:
# add two more coloumns 

# origin ==> constant coulumn ===> "india "
# tax ====>  12% of salary in new column  as salary

In [48]:

# withColumn 
# here lit is for constant column 
from pyspark.sql.functions import lit 

df2=df1.withColumn("origin",lit("India"))\
       .withColumn("tax", 0.12*df1.emp_salary) ######.tax value * dataframe.columnname
df2.show(5)

+-----+-------------+----------+----------+------------+------+------+
|empId|     emp_name|emp_gender|emp_salary|emp_location|origin|   tax|
+-----+-------------+----------+----------+------------+------+------+
|    1|     John Doe|      Male|   60000.0|         USA| India|7200.0|
|    2|   Jane Smith|    Female|   55000.0|      Canada| India|6600.0|
|    3|Alice Johnson|    Female|   65000.0|          UK| India|7800.0|
|    4| Bob Williams|      Male|   62000.0|   Australia| India|7440.0|
|    5|    Eve Davis|    Female|   70000.0|       India| India|8400.0|
+-----+-------------+----------+----------+------------+------+------+
only showing top 5 rows

In [55]:
# to specific perticular functions 

# for column and row operation we have to import col 

from pyspark.sql.functions import col 

df1.select("empId","emp_name",col("emp_gender")).show()

+-----+---------------+----------+
|empId|       emp_name|emp_gender|
+-----+---------------+----------+
|    1|       John Doe|      Male|
|    2|     Jane Smith|    Female|
|    3|  Alice Johnson|    Female|
|    4|   Bob Williams|      Male|
|    5|      Eve Davis|    Female|
|    5|      Eve Davis|    Female|
|    6|  Charlie Brown|      Male|
|    7|   Diana Miller|    Female|
|    8|  Frank Johnson|      Male|
|    9|   Grace Wilson|    Female|
|   10|    Henry Davis|      Male|
|   11|   Isabel Clark|    Female|
|   12|    Jack Turner|      Male|
|   13|Katherine White|    Female|
|   14|   Louis Harris|      Male|
|   15|        Mia Lee|    Female|
+-----+---------------+----------+

In [56]:
# rename the origin to emo_origin 

#withColumnRenamed()

df2=df2.withColumnRenamed("origin","emp_origin")\
       .withColumnRenamed("tax","emp_tax")

df2.show()

+-----+---------------+----------+----------+------------+----------+-------+
|empId|       emp_name|emp_gender|emp_salary|emp_location|emp_origin|emp_tax|
+-----+---------------+----------+----------+------------+----------+-------+
|    1|       John Doe|      Male|   60000.0|         USA|     India| 7200.0|
|    2|     Jane Smith|    Female|   55000.0|      Canada|     India| 6600.0|
|    3|  Alice Johnson|    Female|   65000.0|          UK|     India| 7800.0|
|    4|   Bob Williams|      Male|   62000.0|   Australia|     India| 7440.0|
|    5|      Eve Davis|    Female|   70000.0|       India|     India| 8400.0|
|    5|      Eve Davis|    Female|   70000.0|       India|     India| 8400.0|
|    6|  Charlie Brown|      Male|   58000.0|     Germany|     India| 6960.0|
|    7|   Diana Miller|    Female|   60000.0|      France|     India| 7200.0|
|    8|  Frank Johnson|      Male|   62000.0|       Spain|     India| 7440.0|
|    9|   Grace Wilson|    Female|   54000.0|       Italy|     India| 6480.0|
|   10|    Henry Davis|      Male|   68000.0|       Japan|     India| 8160.0|
|   11|   Isabel Clark|    Female|   59000.0|      Brazil|     India| 7080.0|
|   12|    Jack Turner|      Male|   63000.0|      Mexico|     India| 7560.0|
|   13|Katherine White|    Female|   67000.0|South Africa|     India| 8040.0|
|   14|   Louis Harris|      Male|   56000.0|      Russia|     India| 6720.0|
|   15|        Mia Lee|    Female|   61000.0|       China|     India| 7320.0|
+-----+---------------+----------+----------+------------+----------+-------+

In [60]:
# case conditions # where #  otherwise 

# here m =1
# f=2

from pyspark.sql.functions import when

df3=df2.select("empId","emp_name",when(df2.emp_gender=="Male","m").when(df2.emp_gender=="Female","f").otherwise("u").alias("emp_gender"),
                                                                                                                            "emp_salary",
                                                                                                                            "emp_location",
                                                                                                                            "emp_origin",
                                                                                                                            "emp_tax")
df3.show()

+-----+---------------+----------+----------+------------+----------+-------+
|empId|       emp_name|emp_gender|emp_salary|emp_location|emp_origin|emp_tax|
+-----+---------------+----------+----------+------------+----------+-------+
|    1|       John Doe|         m|   60000.0|         USA|     India| 7200.0|
|    2|     Jane Smith|         f|   55000.0|      Canada|     India| 6600.0|
|    3|  Alice Johnson|         f|   65000.0|          UK|     India| 7800.0|
|    4|   Bob Williams|         m|   62000.0|   Australia|     India| 7440.0|
|    5|      Eve Davis|         f|   70000.0|       India|     India| 8400.0|
|    5|      Eve Davis|         f|   70000.0|       India|     India| 8400.0|
|    6|  Charlie Brown|         m|   58000.0|     Germany|     India| 6960.0|
|    7|   Diana Miller|         f|   60000.0|      France|     India| 7200.0|
|    8|  Frank Johnson|         m|   62000.0|       Spain|     India| 7440.0|
|    9|   Grace Wilson|         f|   54000.0|       Italy|     India| 6480.0|
|   10|    Henry Davis|         m|   68000.0|       Japan|     India| 8160.0|
|   11|   Isabel Clark|         f|   59000.0|      Brazil|     India| 7080.0|
|   12|    Jack Turner|         m|   63000.0|      Mexico|     India| 7560.0|
|   13|Katherine White|         f|   67000.0|South Africa|     India| 8040.0|
|   14|   Louis Harris|         m|   56000.0|      Russia|     India| 6720.0|
|   15|        Mia Lee|         f|   61000.0|       China|     India| 7320.0|
+-----+---------------+----------+----------+------------+----------+-------+

In [62]:
# in salary i want to  sort the column 

#  orderby() and sort() can be use 



df3.sort(df3.emp_salary.desc()).show()

+-----+---------------+----------+----------+------------+----------+-------+
|empId|       emp_name|emp_gender|emp_salary|emp_location|emp_origin|emp_tax|
+-----+---------------+----------+----------+------------+----------+-------+
|    5|      Eve Davis|         f|   70000.0|       India|     India| 8400.0|
|    5|      Eve Davis|         f|   70000.0|       India|     India| 8400.0|
|   10|    Henry Davis|         m|   68000.0|       Japan|     India| 8160.0|
|   13|Katherine White|         f|   67000.0|South Africa|     India| 8040.0|
|    3|  Alice Johnson|         f|   65000.0|          UK|     India| 7800.0|
|   12|    Jack Turner|         m|   63000.0|      Mexico|     India| 7560.0|
|    4|   Bob Williams|         m|   62000.0|   Australia|     India| 7440.0|
|    8|  Frank Johnson|         m|   62000.0|       Spain|     India| 7440.0|
|   15|        Mia Lee|         f|   61000.0|       China|     India| 7320.0|
|    1|       John Doe|         m|   60000.0|         USA|     India| 7200.0|
|    7|   Diana Miller|         f|   60000.0|      France|     India| 7200.0|
|   11|   Isabel Clark|         f|   59000.0|      Brazil|     India| 7080.0|
|    6|  Charlie Brown|         m|   58000.0|     Germany|     India| 6960.0|
|   14|   Louis Harris|         m|   56000.0|      Russia|     India| 6720.0|
|    2|     Jane Smith|         f|   55000.0|      Canada|     India| 6600.0|
|    9|   Grace Wilson|         f|   54000.0|       Italy|     India| 6480.0|
+-----+---------------+----------+----------+------------+----------+-------+

In [64]:
# to drop duplicates 

#dropDuplicates()

df4=df3.dropDuplicates().sort(df3.emp_salary.desc())
df4.show()

+-----+---------------+----------+----------+------------+----------+-------+
|empId|       emp_name|emp_gender|emp_salary|emp_location|emp_origin|emp_tax|
+-----+---------------+----------+----------+------------+----------+-------+
|    5|      Eve Davis|         f|   70000.0|       India|     India| 8400.0|
|   10|    Henry Davis|         m|   68000.0|       Japan|     India| 8160.0|
|   13|Katherine White|         f|   67000.0|South Africa|     India| 8040.0|
|    3|  Alice Johnson|         f|   65000.0|          UK|     India| 7800.0|
|   12|    Jack Turner|         m|   63000.0|      Mexico|     India| 7560.0|
|    4|   Bob Williams|         m|   62000.0|   Australia|     India| 7440.0|
|    8|  Frank Johnson|         m|   62000.0|       Spain|     India| 7440.0|
|   15|        Mia Lee|         f|   61000.0|       China|     India| 7320.0|
|    7|   Diana Miller|         f|   60000.0|      France|     India| 7200.0|
|    1|       John Doe|         m|   60000.0|         USA|     India| 7200.0|
|   11|   Isabel Clark|         f|   59000.0|      Brazil|     India| 7080.0|
|    6|  Charlie Brown|         m|   58000.0|     Germany|     India| 6960.0|
|   14|   Louis Harris|         m|   56000.0|      Russia|     India| 6720.0|
|    2|     Jane Smith|         f|   55000.0|      Canada|     India| 6600.0|
|    9|   Grace Wilson|         f|   54000.0|       Italy|     India| 6480.0|
+-----+---------------+----------+----------+------------+----------+-------+

In [67]:
# where () or filter() used to filter the data 

(df4.filter((df4.emp_salary >=55000)&(df4.emp_gender=="F")&(df4.emp_name.like("%e"))) .show())

+-----+--------+----------+----------+------------+----------+-------+
|empId|emp_name|emp_gender|emp_salary|emp_location|emp_origin|emp_tax|
+-----+--------+----------+----------+------------+----------+-------+
+-----+--------+----------+----------+------------+----------+-------+

In [68]:
df4.filter(
    (col("emp_salary") >= 55000) &
    (col("emp_gender") == "Female") &
    (col("emp_name").like("%e"))
).show()

+-----+--------+----------+----------+------------+----------+-------+
|empId|emp_name|emp_gender|emp_salary|emp_location|emp_origin|emp_tax|
+-----+--------+----------+----------+------------+----------+-------+
+-----+--------+----------+----------+------------+----------+-------+